* {

margin:0;
padding:0;
box-sizing:border-box;

}



body {

font-family:
"Segoe UI",
Arial,
sans-serif;

background:#eeeeee;

}



.cover {


height:100vh;

position:relative;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;


background:

linear-gradient(

120deg,

#f4f4f4,

#d9dde2

);


}



/* Portrait shadow */


.portrait {


position:absolute;


left:0;

bottom:0;


width:600px;

height:850px;


background-image:

url("images/profile.jpg");


background-size:cover;


background-position:center;


opacity:0.12;


filter:

grayscale(100%);


}




/* Logo */


.logo {


position:absolute;


top:55px;


text-align:center;


}


.logo span {


font-size:90px;

font-weight:900;


}


.blue {


color:#0b2d52;

}



.orange {


color:#f58220;

}



.line {


width:45px;

height:3px;

background:#f58220;

margin:15px auto;


}



.logo h1 {


font-size:26px;

letter-spacing:7px;

color:#102f50;


}





/* Languages */


.language-container {


display:flex;


align-items:center;


justify-content:center;


gap:70px;


margin-top:100px;


z-index:2;


}





.language-box {


width:380px;

text-align:center;


}



.language-box h2 {


font-size:55px;

letter-spacing:3px;


color:#102f50;


}



.small-line {


margin:15px;

color:#102f50;


font-size:18px;


}



.language-box h3 {


font-size:28px;


letter-spacing:3px;


color:#102f50;


}



.language-box p {


margin:30px 0;


font-size:18px;


line-height:1.8;


color:#222;


}



.language-box a {


display:inline-block;


padding:18px 40px;


background:#102f50;


color:white;


text-decoration:none;


font-size:17px;


border-radius:8px;


border-bottom:5px solid #f58220;


transition:0.3s;


}



.language-box a:hover {


transform:translateY(-5px);


background:#f58220;


}





/* Middle divider */


.divider {


height:360px;


width:1px;


background:#999;


position:relative;


}



.divider:after {


content:"";


position:absolute;


top:50%;


left:-5px;


width:10px;


height:10px;


background:#f58220;


border-radius:50%;


}






/* Bottom design */


.bottom-shape {


position:absolute;


bottom:-80px;


left:-50px;


width:120%;


height:160px;


background:#102f50;


transform:rotate(-5deg);


}






/* Mobile */


@media(max-width:900px){


.language-container{


flex-direction:column;


gap:20px;


}



.divider{


display:none;


}



.logo h1{


font-size:18px;


}



.language-box{


width:90%;


}



.language-box h2{


font-size:40px;


}



.portrait{


width:100%;


opacity:0.08;


}


}
