body {

font-family: Arial, sans-serif;

margin:0;

background:#f4f6f9;

color:#333;

}



header {

background:#1e293b;

color:white;

text-align:center;

padding:40px;

}



.subtitle {

color:#cbd5e1;

}



nav a {

color:white;

margin:15px;

text-decoration:none;

font-weight:bold;

}



.cover {

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}



.entrance {

display:flex;

gap:30px;

flex-wrap:wrap;

}



.entrance-card,
.card {

background:white;

padding:30px;

width:300px;

border-radius:12px;

box-shadow:0 4px 10px rgba(0,0,0,0.1);

}



.entrance-card a,
.card a {

display:inline-block;

margin-top:20px;

padding:10px 20px;

background:#1e293b;

color:white;

text-decoration:none;

border-radius:5px;

}



.hero {

max-width:900px;

margin:auto;

padding:50px 20px;

text-align:center;

}



.cards {

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}



footer {

margin-top:50px;

padding:30px;

text-align:center;

background:#1e293b;

color:white;

}
